# Covid-19 Data Collector
## Dependencies:
- ```Pandas``` - ```pip install pandas```
- ```Requests``` - ```pip install requests```
- ```json``` - ```builtin module```

### Importing dependencies

In [1]:
import pandas as pd
import requests
import json

### Getting geojson data from API

In [2]:
data = requests.get('http://covid19bangladesh.pythonanywhere.com/district').json()

In [3]:
li = [i['properties'] for i in data['features']]

### Converting list to a dataframe

In [4]:
district_data = pd.DataFrame(li)

In [5]:
district_data.set_index('uid', inplace=True)

### Exporting to CSV

In [6]:
district_data.to_csv('district_data.csv', encoding='utf-8-sig')

### Getting json data of Dhaka from API

In [7]:
dhaka_data = pd.DataFrame(requests.get('https://covid19bangladesh.pythonanywhere.com/dhaka').json())

In [8]:
dhaka_data.set_index('bnName', inplace=True)

In [9]:
dhaka_data

               confirmed         name
bnName
মিরপুর              3369       Mirpur
উত্তরা              1566       Uttara
ধানমন্ডি            1375    Dhanmondi
মোহাম্মাদপুর        1363  Mohammadpur
যাত্রাবাড়ী           903    Jatrabari
...                  ...          ...
কলতাবাজার              1   Koltabazar
মানিকদি                1      Manikdi
NaN                    1      Nabisco
সায়েন্স ল্যাব          1  Science Lab
উর্দু রোড              1    Urdu Road

[217 rows x 2 columns]

### Exporting to CSV

In [10]:
dhaka_data.to_csv('dhaka_data.csv', encoding='utf-8-sig')