In [1]:
import pandas as pd
import pickle

In [2]:
df = pd.read_csv('https://covid19.who.int/WHO-COVID-19-global-data.csv')

In [3]:
df.columns = df.columns.str.strip().str.lower()

In [4]:
df.drop(labels=['country_code', 'who_region'], axis = 1, inplace=True)

In [5]:
country_group = df.groupby(by = 'country')
bd = country_group.get_group('Bangladesh')

In [6]:
nan_indexes = bd[bd['cumulative_cases'] == 0].index

In [7]:
bd_daily_cases = bd.drop(index=nan_indexes)

In [8]:
bd_daily_cases.set_index('date_reported', inplace=True)

In [9]:
with open('bd_daily_cases.pkl', 'wb') as output_file:
    pickle.dump(bd_daily_cases, output_file)

In [10]:
with open('bd_daily_cases.pkl', 'rb') as df:
    df = pickle.load(df)

In [11]:
df

,country,new_cases,cumulative_cases,new_deaths,cumulative_deaths
date_reported,,,,,
2020-03-08,Bangladesh,7,7,0,0
2020-03-09,Bangladesh,0,7,0,0
2020-03-10,Bangladesh,0,7,0,0
2020-03-11,Bangladesh,0,7,0,0
2020-03-12,Bangladesh,0,7,0,0
...,...,...,...,...,...
2020-11-13,Bangladesh,1845,427198,13,6140
2020-11-14,Bangladesh,1767,428965,19,6159
2020-11-15,Bangladesh,1531,430496,14,6173
2020-11-16,Bangladesh,1837,432333,21,6194
2020-11-17,Bangladesh,2139,434472,21,6215