In [1]:
import pandas as pd

In [2]:
pop_data = pd.read_csv('../Data/district_wise_population(2016).csv')

In [3]:
pop_data.columns = list(map(lambda x: x.lower(), pop_data.columns))
pop_data.columns

Index(['district', 'population_2016'], dtype='object')

In [4]:
df = pd.read_csv("../Data/district_cases.csv")

In [5]:
merged_df = df.merge(pop_data, how='inner', on = 'district')

In [6]:
merged_df.set_index('district')

             total_number_of_cases  population_2016
district
Dhaka                       134156         13142000
Chattogram                   22883          8440000
Bogura                        8413          3724000
Cumilla                       8247          6046000
Sylhet                        8075          3957000
...                            ...              ...
Jhalokathi                     758           741000
Khagrachari                    722           685000
Panchagar                      710          1104000
Meherpur                       691           716000
Sherpur                        511          1504000

[64 rows x 2 columns]

In [7]:
merged_df.to_csv('../Data/cases_including_pop_data.csv')

In [8]:
merged_df.to_pickle('../Data/cases_including_pop_data.pkl')